{% extends "cerps/layout.html" %}
{% load static %}

{% block title %}
 - Add 
{% endblock %}

{% block body %}
<!---Add jounrals, books, patents, grants and awards-->
<div style="display: flex;flex-wrap: wrap;justify-content: center;align-items: center;width: 100%;">
    <a class="btn d-flex justify-content-center" style="border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.8mm;" href="{% url 'journal' %}" role="button"><b>Journal publications</b></a>
    <a class="btn d-flex justify-content-center" style="border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.8mm;" href="{% url 'book' %}" role="button"><b>Book publications</b></a>
    <a class="btn d-flex justify-content-center" style="border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.8mm;" href="{% url 'patent' %}" role="button"><b>Patents</b></a>
    <a class="btn d-flex justify-content-center" style="border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.8mm;" href="{% url 'grant' %}" role="button"><b>Research grants</b></a>
    <a class="btn d-flex justify-content-center" style="border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.8mm;" href="{% url 'award' %}" role="button"><b>Research awards</b></a>
</div>




{% endblock %}