{% extends "cerps/layout.html" %}
{% load static %}


{% block body %}

<a class="btn d-flex justify-content-center" style="background-color: #4e0404;color: white;" href="{% url 'journal' %}" role="button">Journals</a><br/>
<a class="btn d-flex justify-content-center" style="background-color: #4e0404;color: white;" href="{% url 'book' %}" role="button">Books</a><br/>
<a class="btn d-flex justify-content-center" style="background-color: #4e0404;color: white;" href="{% url 'patent' %}" role="button">Patents</a><br/>
<a class="btn d-flex justify-content-center" style="background-color: #4e0404;color: white;" href="{% url 'grant' %}" role="button">Grants</a><br/>
<a class="btn d-flex justify-content-center" style="background-color: #4e0404;color: white;" href="{% url 'award' %}" role="button">Awards</a><br/>



{% endblock %}