{% extends "cerps/layout.html" %}
{% load static %}

{% block title %}
 - Home
{% endblock %}

{% block body %}
<!--Home page-->
<h1 class="header">Home</h1>

<div class="grid-container">
  <div id="carouselExampleCaptions" class="carousel slide grid-child" data-bs-ride="carousel" style="display: flex; flex-wrap: wrap;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="17" aria-label="Slide 18"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="18" aria-label="Slide 19"></button>
      </div>
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'cerps/2O9A0703.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Air pollution monitoring</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/2O9A0719.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Air pollution monitoring</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture1.png' %}" class="d-block w-100 h-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Real Scale Run-of-River Archimedes Screw Turbine</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture3.png' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Sri Lankan wave energy resource assessment</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture6.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Greenhouse Gas Emissions Technology Evaluation</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture8.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Synthesis of value-added products from Sri Lankan Dolomitic limes</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture10.png' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Synthesis of precipitated calcium carbonate nanoparticles using dolomite</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture15.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Surface limestone mapping in Jaffna peninsula</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture18.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Underwater Visible Light Communication</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture24.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>AI based traffic monitoring</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture25.png' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Biodegradable packaging</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture29.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Wearable system for fetal movement recognition</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture31.png' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Medical Imaging</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture32.png' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>CNN approach for intrinsic image decimposition</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Capture33.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Decentralized coordinated motion of Auto guided multi rotor aerial vehicles </h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Centrifuge.png' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Value addition to Sri Lankan Dolomite limes</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Figure 11-1.png' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Multispectral Imaging Based Food Quality Estimation</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/Large-Scale Testing Facilities.png' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Modernizing Sri Lankan railway Tracks</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'cerps/railway.png' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.6);">
            <h5>Modernizing Sri Lankan railway Tracks</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="grid-child" style="display: flex; flex-wrap: wrap;">
      <div class="card" style="width: 14rem;width: 32%;">
          <img src="{% static 'cerps/news.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">News</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{% url 'news' %}" class="btn brown" >Read more</a>
          </div>
        </div>
        <div class="card" style="width: 14rem;width: 32%;" >
          <img src="{% static 'cerps/achievements.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Achievements</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{% url 'achievements' %}" class="btn brown" >Read more</a>
          </div>
        </div>
        <div class="card" style="width: 14rem;width: 32%;">
          <img src="{% static 'cerps/events.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Events</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{% url 'events' %}" class="btn brown" >Read more</a>
          </div>
        </div>
    </div>
  </div>

{% endblock %}