{% extends "cerps/layout.html" %}
{% load static %}

{% block title %}
 - Faculty of Engineering Research Information
{% endblock %}

{% block script %}
    <script src="{% static 'cerps/edit.js' %}"></script>
{% endblock %}


{% block body %}

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Journal publications
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Pages</th>
                    {% if user.is_authenticated %}
                    <th scope="col"></th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                {%for journal in journallist%}
                
                    <tr id="journal{{journal.id}}">
                        <td scope="row">{{journal.name}}</td>
                        <td scope="row">{{journal.title}}</td>
                        <td scope="row">{%for author in journal.authors.all%}{{author.name}}<br/>{%endfor%}</td>
                        <td scope="row">{{journal.volume}}</td>
                        <td scope="row">{{journal.issue}}</td>
                        <td scope="row">{{journal.pages}}</td>
                        {% if user.is_authenticated %}
                        <td scope="row">
                          <div id="container"  style="flex-wrap: wrap;">
                            <a href="#" id="editjournal_{{journal.id}}" onclick="editjournal('{{ journal.id }}')" class="btn d-flex justify-content-center" style="float: left;border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;">Edit</a>
                            <a href="#" id="deletejournal_{{journal.id}}" onclick="deletejournal('{{ journal.id }}')" class="btn btn-outline-danger d-flex justify-content-center" style="float: left; width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;">Delete</a>
                          </div>
                        </td>
                        {% endif %}
                      </tr>
                      {% if user.is_authenticated %}
                      <tr id="edit_journal{{journal.id}}" style="display: none;">
                        <td scope="row"><textarea class="form-control mb-2" id="edit_journal_name_{{journal.id}}" name="edit_journal_name">{{journal.name}}</textarea></td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_journal_title_{{journal.id}}" name="edit_journal_title">{{journal.title}}</textarea></td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_journal_author_{{journal.id}}" name="edit_journal_author" placeholder="separated by commas">{%for author in journal.authors.all%}{{author.name}}, {%endfor%}</textarea></td>
                        <td scope="row"><input type="number" class="form-control mb-2" id="edit_journal_volume_{{journal.id}}" name="edit_journal_volume" value={{journal.volume}}></td>
                        <td scope="row"><input type="number" class="form-control mb-2" id="edit_journal_issue_{{journal.id}}" name="edit_journal_issue" value={{journal.issue}}></td>
                        <td scope="row"><input type="number" class="form-control mb-2" id="edit_journal_pages_{{journal.id}}" name="edit_journal_pages"value={{journal.pages}}></td>
                        <td scope="row"><button id="edit_journal_{{journal.id}}" class="btn btn-outline-secondary">Save</button></br></td>
                      </tr>
                      {% endif %}
                {%empty%}
                    <tr>
                        <td>No Journal Publications</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% if user.is_authenticated %}
                        <td></td>
                        {% endif %}
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
          Book publications
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th scope="col">Book or Chapter</th>
                    <th scope="col">Book title</th>
                    <th scope="col">Chapter title</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Year</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">ISBN</th>
                    {% if user.is_authenticated %}
                    <th scope="col"></th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                {%for book in booklist%}
                
                    <tr id="book{{book.id}}" >
                      <td scope="row">
                          {%if book.book_bool is True%}
                              Book
                          {%else%}
                              Chapter
                          {%endif%}
                      </td>
                      <td scope="row">{{book.book_title}}</td>
                      <td scope="row">{{book.chapter_title}}</td>
                      <td scope="row">{%for author in book.authors.all%}{{author.name}}<br/>{%endfor%}</td>
                      <td scope="row">{{book.year}}</td>
                      <td scope="row">{{book.publisher}}</td>
                      <td scope="row">{{book.isbn}}</td>
                      {% if user.is_authenticated %}
                      <td scope="row">
                        <div id="container"  style="flex-wrap: wrap;">
                          <a href="#" id="editbook_{{book.id}}" onclick="editbook('{{ book.id }}')" class="btn d-flex justify-content-center" style="float: left;border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;">Edit</a>
                          <a href="#" id="deletebook_{{book.id}}" onclick="deletebook('{{ book.id }}')" class="btn btn-outline-danger d-flex justify-content-center" style="float: left; width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;">Delete</a>
                        </div>
                      </td>
                      {% endif %}  
                    </tr>
                  {% if user.is_authenticated %}
                      <tr id="edit_book{{book.id}}" style="display: none;">
                        <td scope="row">
                          {%if book.book_bool is True%}
                          <select id="edit_book_bool_{{book.id}}" class="form-control col-md-3" name="edit_book_bool" >
                              <option value='Book'>Book</option>
                              <option value='Chapter'>Chapter</option>
                          </select>
                          {%else%}
                          <select id="edit_book_bool_{{book.id}}" class="form-control col-md-3" name="edit_book_bool" >
                            <option value='Chapter'>Chapter</option>
                            <option value='Book'>Book</option>
                          </select>
                          {%endif%}
                        </td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_book_title_{{book.id}}" name="edit_book_title">{{book.book_title}}</textarea></td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_book_chapter_title_{{book.id}}" name="edit_book_chapter_title">{{book.chapter_title}}</textarea></td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_book_author_{{book.id}}" name="edit_book_author" placeholder="separated by commas">{%for author in book.authors.all%}{{author.name}}, {%endfor%}</textarea></td>
                        <td scope="row"><input type="number"  class="form-control mb-2" id="edit_book_year_{{book.id}}" name="edit_book_year" value={{book.year}}></td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_book_publisher_{{book.id}}" name="edit_book_publisher">{{book.publisher}}</textarea></td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_book_isbn_{{book.id}}" name="edit_book_isbn">{{book.isbn}}</textarea></td>
                        <td scope="row"><button id="edit_book_{{book.id}}" class="btn btn-outline-secondary">Save</button></br></td>
                      </tr>
                      {% endif %}
                {%empty%}
                    <tr>
                        <td>No Book Publications</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% if user.is_authenticated %}
                        <td></td>
                        {% endif %}
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
          Patents
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Title</th>
                    <th scope="col">Number</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Year</th>
                    {% if user.is_authenticated %}
                    <th scope="col"></th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                {%for patent in patentlist%}
                  <tr id="patent{{patent.id}}">
                    <td scope="row">{{patent.agency}}</td>
                    <td scope="row">{{patent.title}}</td>
                    <td scope="row">{{patent.number}}</td>
                    <td scope="row">{%for author in patent.authors.all%}{{author.name}}<br/>{%endfor%}</td>
                    <td scope="row">{{patent.year}}</td>
                    {% if user.is_authenticated %}
                    <td scope="row">
                      <div id="container"  style="flex-wrap: wrap;">
                        <a href="#" id="editpatent_{{patent.id}}" onclick="editpatent('{{ patent.id }}')" class="btn d-flex justify-content-center" style="float: left;border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;">Edit</a>
                        <a href="#" id="deletepatent_{{patent.id}}" onclick="deletepatent('{{ patent.id }}')" class="btn btn-outline-danger d-flex justify-content-center" style="float: left; width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;">Delete</a>
                      </div>
                    </td>
                    {% endif %}
                  </tr>
                  {% if user.is_authenticated %}
                  <tr id="edit_patent{{patent.id}}" style="display: none;">
                    <td scope="row"><textarea class="form-control mb-2" id="edit_patent_agency_{{patent.id}}" name="edit_patent_agency">{{patent.agency}}</textarea></td>
                    <td scope="row"><textarea class="form-control mb-2" id="edit_patent_title_{{patent.id}}" name="edit_patent_title">{{patent.title}}</textarea></td>
                    <td scope="row"><input type="number" class="form-control mb-2" id="edit_patent_number_{{patent.id}}" name="edit_patent_number"value={{patent.number}} ></td>
                    <td scope="row"><textarea class="form-control mb-2" id="edit_patent_author_{{patent.id}}" name="edit_patent_author">{%for author in patent.authors.all%}{{author.name}}, {%endfor%}</textarea></td>
                    <td scope="row"><input type="number" class="form-control mb-2" id="edit_patent_year_{{patent.id}}" name="edit_patent_year" value={{patent.year}}></td>
                    <td scope="row"><button id="edit_patent_{{patent.id}}" class="btn btn-outline-secondary">Save</button></br></td>
                  </tr>
                  {% endif %}
                {%empty%}
                    <tr>
                        <td>No Patents</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% if user.is_authenticated %}
                        <td></td>
                        {% endif %}
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
            Research grants
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th scope="col">Funding Agency</th>
                    <th scope="col">Title</th>
                    <th scope="col">PI</th>
                    <th scope="col">Co-investigators</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Duration</th>
                    {% if user.is_authenticated %}
                    <th scope="col"></th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                {%for grant in grantlist%}
                    <tr id="grant{{grant.id}}">
                      <td scope="row">{{grant.agency}}</td>
                      <td scope="row">{{grant.title}}</td>
                      <td scope="row">{{grant.pi}}</td>
                      <td scope="row">{%for investigator in grant.co_investigators.all%}{{investigator.name}}<br/>{%endfor%}</td>
                      <td scope="row">Rs.{{grant.budget}}/=</td>
                      <td scope="row">From: {{grant.duration_from}} &nbsp;  To: {{grant.duration_to}}</td>
                      {% if user.is_authenticated %}
                      <td scope="row">
                        <div id="container"  style="flex-wrap: wrap;">
                          <a href="#" id="editgrant_{{grant.id}}" onclick="editgrant('{{ grant.id }}')" class="btn d-flex justify-content-center" style="float: left;border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;">Edit</a>
                          <a href="#" id="deletegrant_{{grant.id}}" onclick="deletegrant('{{ grant.id }}')" class="btn btn-outline-danger d-flex justify-content-center" style="float: left;width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;">Delete</a>
                        </div>
                      </td>
                      {% endif %}
                  </tr>
                  {% if user.is_authenticated %}
                      <tr id="edit_grant{{grant.id}}" style="display: none;">
                        <td scope="row"><textarea class="form-control mb-2" id="edit_grant_agency_{{grant.id}}" name="edit_agency_name">{{grant.agency}}</textarea></td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_grant_title_{{grant.id}}" name="edit_grant_title">{{grant.title}}</textarea></td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_grant_pi_{{grant.id}}" name="edit_grant_pi">{{grant.pi}}</textarea></td>
                        <td scope="row"><textarea class="form-control mb-2" id="edit_grant_investigator_{{grant.id}}" name="edit_grant_investigator" placeholder="separated by commas">{%for investigator in grant.co_investigators.all%}{{investigator.name}}, {%endfor%}</textarea></td>
                        <td scope="row"><input type="number" class="form-control mb-2" id="edit_grant_budget_{{grant.id}}" name="edit_grant_budget" value={{grant.budget}}></td>
                        <div id="container"></div>
                          <td scope="row" style="flex-wrap: wrap;"><input type="date" id="edit_grant_from_{{grant.id}}" class="form-control mb-2" name="edit_from_from" style="float: left;display: inline;">
                          <input type="date" class="form-control mb-2" id="edit_grant_to_{{grant.id}}" name="edit_from_to" style="float: left;display: inline;"></td>
                        </div>
                          <td scope="row"><button id="edit_grant_{{grant.id}}" class="btn btn-outline-secondary">Save</button></br></td>
                      </tr>
                      {% endif %}
                {%empty%}
                    <tr>
                        <td>No Research Grants</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% if user.is_authenticated %}
                        <td></td>
                        {% endif %}
                    </tr>
                {%endfor%}
                </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header"  id="panelsStayOpen-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true" aria-controls="panelsStayOpen-collapseFive">
            Research awards
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                    <th scope="col">Name of the Awardee</th>
                    <th scope="col">Award</th>
                    <th scope="col">Year</th>
                    <th scope="col">Awarding body</th>
                    {% if user.is_authenticated %}
                    <th scope="col" style="align-self: right;"></th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                {%for award in awardlist%}
                    <tr id="award{{award.id}}">
                      <td scope="row">{{award.name}}</td>
                      <td scope="row">{{award.award}}</td>
                      <td scope="row">{{award.year}}</td>
                      <td scope="row">{{award.agency}}</td>
                      {% if user.is_authenticated %}
                      <td scope="row">
                        <div id="container"  style="flex-wrap: wrap;">
                          <a href="#" id="editaward_{{award.id}}" onclick="editaward('{{ award.id }}')" class="btn d-flex justify-content-center" style="float: left;border-color: #530d0d; width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;text-align: center;">Edit</a>
                          <a href="#" id="deleteaward_{{award.id}}" onclick="deleteaward('{{ award.id }}')" class="btn btn-outline-danger d-flex justify-content-center" style="float: left; width: 33%;margin: 0.5%;border-width: 0.3mm;display:inline;text-align: center;">Delete</a>
                        </div>
                      </td>
                      {% endif %}  
                    </tr>
                  {% if user.is_authenticated %}
                  <tr id="edit_award{{award.id}}" style="display: none;">
                    <td scope="row"><textarea class="form-control mb-2" id="edit_award_name_{{award.id}}" name="edit_name_agency">{{award.name}}</textarea></td>
                    <td scope="row"><textarea class="form-control mb-2" id="edit_award_award_{{award.id}}" name="edit_award_award">{{award.award}}</textarea></td>
                    <td scope="row"><input type="number" class="form-control mb-2" id="edit_award_year_{{award.id}}" name="edit_award_year" value={{award.year}}></td>
                    <td scope="row"><textarea class="form-control mb-2" id="edit_award_agency_{{award.id}}" name="edit_award_agency">{{award.agency}}</textarea></td>
                    <td scope="row"><button id="edit_award_{{award.id}}" class="btn btn-outline-secondary">Save</button></br></td>
                  </tr>
                  {% endif %}
                {%empty%}
                    <tr>
                        <td>No Research Awards</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% if user.is_authenticated %}
                        <td></td>
                        {% endif %}
                    </tr>
                {%endfor%}
                </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>

{% endblock %}